* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 550px;
  height: 500px;
  margin: 50px auto;
  background-color: #cbcbcb;
  border-radius: 10px;
}

.list-outline {
  position: relative;
  top: 11px;
  left: 10px;
  padding: 10px;
  width: 530px;
  background-color: white;
  border-radius: 10px;
}

.description {
  padding: 10px;
  font-style: italic;
  font-size: 14px;
}

.tasks, .add-list-btn {
  margin: 0 0 20px 0;
}

.tasks {
  width: 350px;
  height: 25px;
  outline-color: #7db6f2;
}

.add-list-btn {
  position: relative;
  top: 10px;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: transparent;
  border-width: 1px;
  background-color: #fc989c; 
  color: white;
  outline-color: #f6eded;
  vertical-align: middle;
  text-align: center;
}

.add-list-btn:hover, .operation-btn:hover {
  cursor: pointer;
  border: #fc989c;
}

.all-list-content {
  margin: 20px;
  font-size: 14px;
}

.check-box {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.check-box +span {
  position: relative;
  top: -1px;
  padding-left: 5px;
}

li {
  padding: 5px;
}

.footer {
  display: flex;
  padding: 30px 100px 20px 0;
  width: 495px;
  height: 20px;
  justify-content: flex-end;
}

.operation-btn {
  padding: 0;
  width: 80px;
  height: 20px;
  border: none;
  background-color: white;
  outline-color: #f6eded;
  color: #fc989c;
  text-align: center;
}